# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
env/
venv/
python_env/

# Ignore logs, build, and editor-specific files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Node.js dependencies and build directories
node_modules/
dist/
dist-ssr/
*.local

# Ignore editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
